<div>
  <button id='export-colors-button'>Emit SwiftUI Colors</button>
</div>
<br>
<div>
  <button id='export-gradients-button'>Emit SwiftUI Gradients</button>
</div>
<br>
<div>
  <button id='export-effects-button'>Emit SwiftUI Effects</button>
</div>
<br>
<div>
  <button id='close-button'>Close</button>
</div>

<script type="text/javascript">
  {{bundledJS}}
</script>
